:root {
  --pink: #fdefef;
  --beige: #FAF0E4;
  --pastel: #DAD0C2;
  --brown: #CDBBA7;

  --black: #393E46;
  --gray: #EEEEEE;
  --teal: #9BCDD2;
  --orange: #FF8551;
}

/* Disable scrolling */
html, body {
  overflow: hidden;
  height: 100%;
}

body {
  font-family: 'Lora', serif;
  background-color: var(--gray);
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.calculator {
  width: 400px;
  height: 600px;
  background-color: var(--black);
  border-radius: 20px;
  padding: 30px;

  display: flex;
  flex-direction: column;
}

.screen {
  background-color: white;
  height: 100px;
}

.footer {
  text-align: center;
  padding: 25px;
}

.footer a {
  text-decoration: none;
  outline: none;
  color: black;
  margin-right: 20px;
}

.footer img {
  height: 30px;
  width: 30px;
  vertical-align: -0.5em;
}

.footer span {
  margin-right: 10px;
}